.idea
.apt_*
.git
.github
.factorypath
.project
.classpath
org.eclipse.core.resources.prefs
org.eclipse.jdt.apt.core.prefs
org.eclipse.jdt.ui.prefs
org.eclipse.m2e.core.prefs
.DS_Store
thumbs.db
[Dd]esktop.ini
*.class
*.zip
*.gz
*.log
log.txt
nohup*.out
**/target
/rs
